.navbar-wrapper {
  margin: left;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
a {
  display: inline;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
h2{
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}
kathleen-pfp {
  height: 10px;
  width: 10px;
}