
.navbar-wrapper {
  display: block;
  height: 35px;
  width: 100%;
  // background-color: pink;
  // border: 3px solid orange;
}
/* Remove bullets, margin and padding */
.navbar-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar-wrapper li {
  float: left;
  /* Or you can use display: inline; */
  //border: 3px solid orange;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Define the block styling for the links */
.navbar-wrapper li a {
  display: inline-block;
  text-align: center;
  padding: 5px 15px;
  align-items: baseline;
  text-decoration: none;
  color: black;
}
.navbar-wrapper li a:active {
  text-decoration: underline;
}
.navbar-wrapper li a:hover {
  color: 616A72;
}
@media (max-width: 400px) {
  .navbar-wrapper {
    display: none;
  }
  .about-me {
    // border: 3px solid orange;
    height: 300px;
    justify-content: center;
  
  }
}

.about-me {
  // border: 3px solid orange;
  height: 300px;
  justify-content: space-evenly;
  
}

.home-kathleen img {
  float: left;
  max-width: 400px;
  margin: 30px;
  border-radius: 25px;
}
.greeting{
  float: right;
  flex-direction: column;
  color: black;
  // border: 3px solid yellow;
  align-self: center;
  margin-top: 50px;
  margin-right: 30px;
  margin-bottom: 30px;

}

.my-name {
  font-size: 35;
  font-family: Georgia, serif;
  font-weight: bold;
  //color: red;
}
.greeting .short-bio {
  // color:yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  // border: 3px solid orange;
  max-width: 400px;

}
